<!DOCTYPE html>
<html>
<head>
  <title>Upload json File</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
  <h2>Upload json File</h2>
  <form id="upload-form" enctype="multipart/form-data">
    Select json file to upload:
    <input type="file" name="jsonfile"><br>  
    <input type="checkbox" name="columns" value="Cd"> Cd<br>
    <input type="checkbox" name="columns" value="Cu"> Cu<br>
    <input type="checkbox" name="columns" value="As"> As<br>
    <input type="checkbox" name="columns" value="Pb"> Pb<br>
    <input type="checkbox" name="columns" value="Zn"> Zn<br>
    <input type="checkbox" name="columns" value="Ni"> Ni<br>
  </form>
  <button onclick="uploadJson()">Upload json</button>
  <button id="view-button" onclick="viewMap()">View Map</button> 
  <script>
    $('input[type="checkbox"]').on('change', function() {
      $('input[type="checkbox"]').not(this).prop('checked', false);  
    });

    function uploadJson() {
      var formData = new FormData($('#upload-form')[0]);
      formData.append('selectedColumns', $('input[name="columns"]:checked').map(function() { return this.value; }).get().join(','));
      
      $.ajax({
        url: '/json',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
          if (data.success) {
            $('#view-button').show();
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
        }
      });
    }

    function viewMap() {
      try {
        var newWindow = window.open('http://www.ksnu-bi.kro.kr:8000/heatmap.html', '_blank');
        if (!newWindow || newWindow.closed || typeof newWindow.closed == 'undefined') {
          throw new Error('Popup blocked or not opened.');
        }
      } catch (error) {
        console.error('Error opening new window:', error);
      }
    }    
  </script>
</body>
</html>