body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #map {
    width: 80%;
    height: 80%;
  }
  
  #input-box, #data-display {
    width: 80%;
    margin-top: 20px;
  
  }
  
  table {
    width: 100%;
    text-align: center;
  }
  
  th, td {
    border-bottom: 1px solid black;
    padding: 10px;
  }